.formControl.error input,
.formControl.error textarea {
  border: solid 1px red;
}

.formControl.error span {
  color: red;
  font-size: 18px;
  font-weight: bold;
}

.formSummaryError {
  display: inline-block;
  max-width: 250px;
  border: solid 1px red;
  padding: 5px;
  margin: 5px 0;
  color: #ea4335;
}

.loginForm {
  display: flex;
  flex-direction: column;
}

.captcha {
  width: 150px;
}
