.friendContainer {
  display: flex;
  margin: 0;
  padding: 0;
}

.friendContainer > div {
  margin: 0 0.5em;
  margin-top: 2em;
}

.friend {
  color: #a6a7aa;
  font-weight: bold;
  text-align: center;
}

.friendIcon {
  width: 50px;
}
