.bigImage {
  width: 100%;
  display: block;
}

.information {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1em;
  padding: 0 5em;
}

.mainInfo {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.userPhoto {
  min-width: 250px;
  display: block;
  border-radius: 50%;
}

.fullName {
  font-size: 24px;
  font-weight: bold;
}

.lookingForAJob {
  margin-top: 1em;
}

.contacts {
  font-size: 18px;
  font-style: italic;
}

.status {
  margin-top: 1em;
  font-style: italic;
  font-weight: bold;
}

.status input {
  width: 50%;
}
